.big {
	font-size: 54px;
	font-family: "Trebuchet MS", tahoma,verdana,arial,helvetica;
	font-weight:bold;
	color: #f6f6f6;
}

.titulo {
	font-size: 16px;
	font-family: "Trebuchet MS", tahoma,verdana,arial,helvetica;
	font-weight:bold;
	color: #36587d;
}

.sub_titulo {
	font-size: 14px;
	font-family: "Trebuchet MS", tahoma,verdana,arial,helvetica;
	font-weight:bold;
	color: #000000;
}

.item {
	font-size: 14px;
	font-family: "Trebuchet MS", tahoma,verdana,arial,helvetica;
	font-weight:normal;
	color: #000000;
}

.alerta {
	font-size: 12px;
	font-family: "Trebuchet MS", tahoma,verdana,arial,helvetica;
	font-weight:100;
	color: #36587d;
}


.input_label {
	font-size: 14px;
	font-family: "Trebuchet MS", tahoma,verdana,arial,helvetica;
	font-weight:bold;
	color: #36587d;
}

.input_value {
	font-size: 14px;
	font-family: "Trebuchet MS", tahoma,verdana,arial,helvetica;
	font-weight:normal;
	color: #36587d;
}

.creditos {
	font-size: 11px;
	font-family: "Trebuchet MS", tahoma,verdana,arial,helvetica;
	font-weight:bold;
	color: #ffffff;
}




A:link, A:visited, A:active {
	font-size: 14px;
	font-family: "Trebuchet MS", tahoma,verdana,arial,helvetica;
	color: #36587d;
	text-decoration: none;
}

input {
	border-color: #cccccc; 
	border-width: 1; 
	border-style: solid; 
	background-color:#eeeeee; 
	font-size: 14px;
	font-family: "Trebuchet MS", tahoma,verdana,arial,helvetica;
	font-weight:100;
	color: #36587d;
}

select {
	border-color: #cccccc; 
	border-width: 1; 
	border-style: solid; 
	background-color:#eeeeee; 
	font-size: 12px;
	font-family: "Trebuchet MS", tahoma,verdana,arial,helvetica;
	font-weight:100;
	color: #36587d;
}

textarea {
	border-color: #cccccc; 
	border-width: 1; 
	border-style: solid; 
	background-color:#eeeeee; 
	font-size: 14px;
	font-family: "Trebuchet MS", tahoma,verdana,arial,helvetica;
	font-weight:100;
	color: #36587d;
}



A:link, A:visited, A:active {	
	color: #336699;
	text-decoration: none; 
	
}


A:hover {
	color: #cccc66;
	text-decoration:underline;
}
